<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Quantico:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Résultats de votre recherche</title>
</head>
<body>
    <main class="container">
        <h1 class="row text-uppercase py-3"> Résultats de recherche pour : <%= movieRequested %> </h1>
        <section class="row">
        <% moviesAvailable.forEach((element)=>{ %>
            <% movieImages = "https://image.tmdb.org/t/p/w600_and_h900_bestv2" %>
            <% currentImage = element.poster_path %>
            <% imageDisplay = `${movieImages}${currentImage}` %>
                <img class="col-lg-3 col-sm-8 border border-3 border-dark p-0 me-3 mb-4" src= "<%= imageDisplay %>" class="movieImages"></div>
                <div class="col-lg-8 col-sm-12 border border-3 border-dark pt-4 mb-4">   
                        <h2 class="row text-center fw-bold ps-4" id="movieTitle"><%= element.original_title %></h2>
                        <hr size="4" width="100%" color="grey">  
                        <p class="row mt-1 px-2" id="overview"><%= element.overview %></p>
                        <hr size="4" width="100%" color="grey">  
                        <p class="mt-4" id="release"><b>Date published: </b> <%= element.release_date %></p>
                        <p class="mt-2" id="votecount"><b>Total votes: </b><%= element.vote_count %></p>
                        <p class="mt-2" id="voteAverage"><b>Average rating: </b><%= element.vote_average %></p>
                </div>
        <% }) %>
        </section>
        </main>
    </body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>