<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Quantico:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Chercher des films</title>
</head>
<body>
    <main class="container d-flex">
        <form class="offset-1 mt-5 row border border-dark border-2 py-3" action="/results" method="get">
            <div class="form-group col-12">
                <label for="search" class="text-info h2">Search Your Movie Here</label>
                <div class="row justify-content-center">
                    <input type="text" placeholder="Enter movie name..." class="form-control w-auto me-3" name="search" id="search">
                    <input id="soumettre" type="submit" value="Search Movie" class="w-auto btn btn-success btn-sm mt-2"/>
                </div>
            </div>
        </form>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>